<form [formGroup]="cdssForm" autocomplete="off">
  <div class="row m-t-20">
    <div class="col-xs-12 col-sm-6 col-md-4 m-t-7"  *ngIf="!viewMode">
      <md2-autocomplete
        class="dropdownValueSubVisitCategory"
        [items]="chiefComplaints"
        style="margin-top: 6px;"
        [style.width]="'100%'"
        item-text="chiefComplaint"
        placeholder="{{ currentLanguageSet?.presentChiefComplaint }}"
        [readonly]="(cdssForm && cdssForm.controls && cdssForm.controls.selectedDiagnosis.value !== undefined && cdssForm.controls.selectedDiagnosis.value !== null && cdssForm.controls.selectedDiagnosis.value !== '')"
        formControlName="presentChiefComplaint"
        (change)="getQuestions(cdssForm.controls.presentChiefComplaint.value)"
        (keyup.enter)="getQuestions(cdssForm.controls.presentChiefComplaint.value)"
        
      >
      </md2-autocomplete>
      <md-hint>
        <span *ngIf="cdssForm.controls.presentChiefComplaint.dirty && cdssForm.controls.presentChiefComplaint.untouched">{{ currentLanguageSet?.max20CharectorsAllowed }}</span>
      </md-hint>
    </div>
     
      <div class="col-xs-12 col-sm-6 col-md-4" *ngIf="viewMode == true">
        <md-input-container [style.width]="'100%'">
        <textarea
        mdInput
        textAreaValidator 
        placeholder="{{
          currentLanguageSet?.provisionalSelectedDiagnosis
        }}"
        formControlName="presentChiefComplaintView"
       [readonly]="viewMode"
      ></textarea>
    </md-input-container>
      </div>
      

    <div
    class="col-xs-12 col-sm-6 col-md-4"
    
  >
    <md-input-container [style.width]="'100%'">
      <textarea
        mdInput
        textAreaValidator 
        placeholder="{{
          currentLanguageSet?.provisionalSelectedDiagnosis
        }}"
        rows="2"
        name="psd"
        minlength="4"
        formControlName="selectedDiagnosis"
        maxlength="200"
        readonly
       [readonly]="viewMode"
      ></textarea>
    </md-input-container>
  </div>
  
    <div
      class="col-xs-12 col-sm-6 col-md-4"
      
    >
      <md-input-container [style.width]="'100%'">
        <textarea
          mdInput
          textAreaValidator 
          placeholder="{{ currentLanguageSet?.recommendedAction }}"
          rows="2"
          name="recommendedAction"
          formControlName="recommendedActionPc"
         [readonly]="viewMode"
        ></textarea>
      </md-input-container>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 m-t-10"  style="margin-left: 13px;">
      <md-input-container appName [style.width]="'100%'">
        <textarea
          mdInput
          placeholder="{{ currentLanguageSet?.common?.remarks }}"
          maxlength="300"
          minlength="3"
          name="remarks"
          formControlName="remarksPc"
         [readonly]="viewMode"
        ></textarea>
        <md-hint>
          <span
            *ngIf="cdssForm.controls.remarksPc.errors && cdssForm.controls.remarksPc.touched"
            class="error_text"
            >{{ currentLanguageSet?.enteratLeast3Characters }}</span
          >
          <span *ngIf="cdssForm.controls.remarksPc.dirty && cdssForm.controls.remarksPc.untouched">{{
            currentLanguageSet?.max300CharectorsAllowed
          }}</span>
        </md-hint>
      </md-input-container>
    </div>

  </div>

</form>
